<div class="container">

  <app-funcionario-form  (funcionarioAdicionado)="aoAdicionar($event)" ></app-funcionario-form>

  <div class="row" style="margin-top: 20px;">
    <div class="col-2" *ngFor="let funcionario of funcionarios">
      <app-card [card]="funcionario"></app-card>
    </div>
  </div>

  <!-- <app-pipes></app-pipes> -->
  <!-- <app-formulario-estudo></app-formulario-estudo> -->

  <!-- <app-botao-grande label="Teste"></app-botao-grande> -->

  <!-- <app-menu></app-menu>
  <br>
  <app-botao-grande label="botao no app"></app-botao-grande> -->
</div>

